<h1>School Classes</h1>

<% @school_classes.each do |school_class| %>
    <ul>
        <li><%= link_to school_class.title, school_class_path(school_class) %>
           <%= link_to 'Edit', edit_school_class_path(school_class) %> </li>
    </ul>
<%end%>
<br>
<%= link_to "Add School class", new_school_class_path %> 